*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--fw-light: 300;
	--fw-normal: 400;
	--fw-semi: 500;
	--fw-bold: 700;
	--fs-h1: 1.5rem;
	--fs-h2: 2.25rem;
	--fs-body: 1rem;
	--clr-light: #fff;
	--clr-grey: #989898;
	--clr-drk: #444;
	--clr-accent: #d06d6d;
	--clr-accent-drk: #613131;
}
.p {
}
