@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--fw-light: 300;
	--fw-normal: 400;
	--fw-semi: 500;
	--fw-bold: 700;
	--fs-h1: 1.25rem;
	--fs-h2: 1.75rem;
	--fs-body: 1rem;
	--fs-xl: 4rem;
	--clr-light: #fff;
	--clr-gray: #989898;
	--clr-dark: #444;
	--clr-accent: #d06d6d;
	--clr-accent-dark: #613131;
}

html {
	font-size: 16px;
	@media (max-width: 800px) {
		font-size: 15px;
	}
	@media (max-width: 600px) {
		font-size: 14px;
	}
	@media (max-width: 380px) {
		font-size: 12px;
	}
	@media (max-width: 330px) {
		font-size: 10px;
	}
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	background-image: url(../img/mars.jpg);
	background-position: 40% 0;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--clr-light);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1,
h2,
h3 {
	line-height: 1;
}

a {
	color: var(--clr-accent);
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: var(--clr-accent-dark);
	}
}

.main-title {
	font-size: var(--fs-h1);
	font-weight: var(--fw-light);
	text-transform: uppercase;
	color: var(--clr-accent);
	letter-spacing: 2px;
	grid-column: 1 / -1;
	@media (max-width: 600px) {
		margin: 2rem 0 1rem;
		letter-spacing: 1px;
	}
}

.section-title {
	font-size: var(--fs-h2);
	font-weight: var(--fw-bold);
	margin: 0;
	margin-bottom: 0.25rem;
}

.section-title--date {
	font-size: var(--fs-xl);
}

.reading {
	font-size: var(--fs-h1);
	margin: 0;
	color: var(--clr-gray);
}

.mars-current-weather {
	background: rgba(0, 0, 0, 0.5);
	padding: 2rem;
	max-width: 52rem;
	margin: 2rem 0;
	row-gap: 2rem;
	column-gap: 1rem;
	margin-left: 4rem;
	@media (max-width: 985px) {
		margin-left: 0;
		align-self: center;
	}
	@media (max-width: 900px) {
		padding: 1.35rem;
	}
}

.mars-img-container {
	grid-column: 1 / -1;
	height: 18.75rem;
	border: 3px solid var(--clr-light);
	// background-image: url('https://apod.nasa.gov/apod/image/2103/Helicopter_Mars2020_1080.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;

	@media (max-width: 600px) {
		height: 16rem;
	}
	@media (max-width: 400px) {
		height: 14rem;
	}
}

.header-container {
	max-width: 760px;
	margin: 4rem 0 2rem 6rem;
	display: flex;
	align-items: center;

	@media (max-width: 950px) {
		margin: 4rem 2rem 2rem 2.25rem;
		align-self: center;
	}
	@media (max-width: 750px) {
		margin: 4rem 2rem 2rem 1.25rem;
		align-self: center;
	}
	@media (max-width: 600px) {
		flex-direction: column;
		margin: 5rem 1.5rem 0 2rem;
	}

	.text-title {
		font-weight: var(--fw-light);
		// letter-spacing: 2px;
		h1 {
			font-size: var(--fs-h1);
			color: var(--clr-light);
			margin-bottom: 15px;
			font-weight: var(--fw-semi);
			span {
				font-weight: var(--fw-light);
				text-transform: uppercase;
			}
		}
		p {
			margin: 0;
			color: var(--clr-light);
		}
	}
	img {
		display: block;
		width: 12.5rem;
		height: 10.5rem;
		margin-right: 0.75rem;
		margin-top: 1rem;
		@media (max-width: 950px) {
			margin-right: 0;
		}
		@media (max-width: 600px) {
			margin-left: 2rem;
		}
	}
}

.header-video {
	max-width: 800px;
	margin: 4em 4em 0 4em;
	display: flex;
	.text-title {
		font-weight: var(--fw-light);
		// letter-spacing: 2px;
		h1 {
			font-size: var(--fs-h1);
			color: var(--clr-light);
			margin-bottom: 15px;
			font-weight: var(--fw-semi);
			span {
				font-weight: var(--fw-light);
				text-transform: uppercase;
			}
		}
		p {
			margin: 0;
			color: var(--clr-light);
		}
	}
	img {
		width: 25%;
		margin-right: 30px;
	}
}

.date {
	grid-column: 1 / 2;

	&__day {
		font-size: var(--fs-h2);
		margin: 0;
		color: var(--clr-gray);
		font-weight: var(--fw-light);
	}
}

.temp {
	--border: solid 0.15em var(--clr-accent);
	padding: 2em 0;
}

.wind {
	display: grid;
	column-gap: 1em;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;
	align-self: start;

	.section-title,
	.reading {
		grid-column: 1 / 2;
	}

	&__direction {
		--size: 4rem;
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.5);
		display: grid;
		place-items: center;
		grid-column: 2 / 3;
		grid-row: 1 / span 2;
	}

	&__arrow {
		--direction: 180deg;
		--size: 0.75rem;
		height: calc(var(--size) * 3);
		width: var(--size);
		background: var(--clr-accent-dark);
		clip-path: polygon(50% 0, 0% 100%, 100% 100%);
		transform: translateY(-50%) rotate(var(--direction));
		transform-origin: bottom center;

		transition: transform 500ms ease;
	}
}

.unit {
	@media (max-width: 900px) {
		position: absolute;
		left: 3em;
		top: 3em;
	}
	grid-column: 3 / 4;
	place-self: end;
	color: var(--clr-light);
	display: flex;
	opacity: 0.7;
	transition: opacity 275ms linear;

	&:hover {
		opacity: 1;
	}

	label {
		cursor: pointer;
	}

	input {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	&__toggle {
		cursor: pointer;
		width: 4em;
		border: 2px solid var(--clr-light);
		background: transparent;
		padding: 0;
		border-radius: 100vmax;
		margin: 0 1em;

		&::after {
			content: '';
			display: block;
			background: var(--clr-light);
			border-radius: 50%;
			height: 1rem;
			margin: 3px;
			margin-left: auto;
			width: 1rem;
		}
	}
}

:checked ~ .unit__toggle::after {
	margin-left: 3px;
}

// ------------------------------------- MODAL ------------------------------------- //
/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	border: none;
	padding: 50px;
	// background-color: rgb(0, 0, 0);
	// background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
	background: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	padding: 50px;
	width: 80%;
	height: 100%;
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 3em;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #aaa;
	text-decoration: none;
	cursor: pointer;
}

iframe {
	min-height: 90%;
}

.info {
	grid-column: 1/-1;
}
// ------------------------------------- END MODAL ------------------------------------- //

@media (min-width: 600px) {
	.mars-current-weather {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.date {
		grid-column: 1 / -1;
	}

	.temp {
		grid-column: 1 / 2;
		padding: 0;
	}

	.wind {
		grid-column: 2 / 3;
	}
}

@media (max-width: 600px) {
	.mars-current-weather {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.date {
		grid-column: 1 / -1;
	}

	.temp {
		grid-column: 1 / 2;
		padding: 0;
	}

	.wind {
		grid-column: 2 / 3;
	}
}

@media (min-width: 900px) {
	.date {
		grid-column: 1 / 2;
	}

	.mars-current-weather {
		grid-template-columns: repeat(3, 1fr);
	}

	.temp {
		grid-column: 2 / 3;
		border-left: var(--border);
		border-right: var(--border);
		padding: 0 2em;
	}

	.wind {
		grid-column: 3 / 4;
		.section-title,
		.reading {
			grid-column: 2 / 3;
		}

		&__direction {
			--size: 6rem;
			grid-column: 1 / 2;
			grid-row: 1 / span 2;
		}

		&__arrow {
			--size: 1rem;
		}
	}

	.info {
		grid-column: 1 / -1;
	}
}
